.BestPlayers {
	padding: calc(var(--component-inside-padding) * 2)
		var(--component-inside-padding);
	border: 1px solid cadetblue;
}

.BestPlayers .col.strong {
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}
