.BestPlayers {
	padding: calc(var(--component-inside-padding) * 2)
		var(--component-inside-padding);
	border: 1px solid var(--logo-red-color);
	border-radius: 15px;
}

.BestPlayers .section-title {
	text-align: center;
}

.BestPlayers .row:first-of-type {
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}

.BestPlayers .stats-infos {
	font-size: 13px;
	font-style: italic;
	margin-top: 20px;
}
