.Dashboard {
	min-height: 50%;
	padding: 30px;
}

.Dashboard .TeamsList,
.SeasonsList,
.BestPlayers,
.TeamGames {
	margin: 0 auto 25px;
	width: 80%;
	min-width: 700px;
}

.TeamGames {
	margin-bottom: 50px;
}

@media (min-width: 576px) {
	.container {
		max-width: 700px;
	}
}
