.Dashboard {
	min-height: 100%;
	padding: 30px 12%;
}

.Dashboard .TeamsList,
.SeasonsList,
.BestPlayers,
.TeamGames {
	margin-bottom: 20px;
	min-width: 750px;
}

@media (min-width: 576px) {
	.container {
		max-width: 750px;
	}
}
