.Dashboard {
	min-height: var(--dashboard-height); /* defined in index.css */
	min-width: fit-content;
	padding: 50px 20%;
	background-color: var(--logo-blue-color);
}

.Dashboard .SeasonsList,
.BestPlayers,
.TeamGames {
	margin: 0 auto 25px;
	color: whitesmoke;
}

.Dashboard .TeamsList {
	margin: auto;
	position: relative;
	color: whitesmoke;
}

.TeamGames {
	margin-bottom: 50px;
}
