.App footer {
	background-color: #ddd;
	color: #808080;
	text-align: center;
	height: var(--footer-height); /* defined in index.css */
	line-height: var(--footer-height);
	position: absolute;
	bottom: 0;
	width: 100%;
}
