.Header {
	width: 100%;
	min-height: var(--header-height); /* defined in index.css */
	color: var(--logo-blue-color);
	background-color: #fff;
	text-align: center;
	padding: 20px 0 30px;
	box-shadow: 1px 2px 5px black;
}

.Header #nba-compact-logo {
	margin-top: 15px;
}

.Header #nba-compact-logo img {
	width: 45px;
	margin: 0;
}
