.main-team-logo {
	width: 100%;
}

.TeamsList .Logo {
	width: 180px;
	margin: auto;
	float: right;
	position: absolute;
	right: 2%;
	top: -20px;
}

.TeamGames .game-score .Logo {
	width: 45px;
	margin-right: 6px;
}
