.modal-content {
	color: blue;
}

.modal-header {
	background-color: springgreen;
}

.modal-title {
	font-size: 35px;
}

.modal-body p:not(.modal-team-name) {
	padding-top: 10px;
	font-size: 20px;
}

.modal-team-name {
	font-size: 22px;
	text-align: end;
	font-weight: 700;
	border-bottom: 1px solid #e9ecef;
	padding-bottom: 10px;
}
