.SeasonsList {
	padding: calc(var(--component-inside-padding) * 2)
		var(--component-inside-padding);
}

.SeasonsList .btn-group-toggle {
	width: 300px;
}

.SeasonsList .btn-group-toggle .season {
	width: 100%;
}

.SeasonsList .btn-group-toggle .season:not(:first-child) {
	margin-left: 5px;
}

.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show > .btn-danger.dropdown-toggle {
	color: #bd1f2c;
	background-color: #fff;
	border-color: #bd1f2c;
	box-shadow: 1px 1px 1px #bd1f2c;
}
