.SeasonsList {
	background-color: var(--logo-blue-color);
	padding: calc(var(--component-inside-padding) * 2)
		var(--component-inside-padding);
	color: #fff;
}

.SeasonsList .season {
	background-color: transparent;
	color: #fff;
}

.SeasonsList .season {
	background-color: transparent;
	color: #fff;
}
