.Stats .rank {
	padding: 5px;
}

.Stats .rank:hover {
	background-color: var(--logo-blue-color);
	color: greenyellow;
	border-radius: 3px;
	cursor: pointer;
	font-weight: 700;
}

.Stats .rank:first-child p {
	font-weight: 500;
}
