.TeamsList {
	padding: calc(var(--component-inside-padding) * 2)
		var(--component-inside-padding);
}

.TeamsList .team-conference {
	text-align: left;
	margin-left: calc(var(--section-titles-width) + 15px);
	margin-top: 15px;
	font-size: 19px;
}

/* Material UI style modifications */
.TeamsList .MuiAutocomplete-inputRoot,
.TeamsList .MuiFormLabel-root {
	font-family: "Oswald", sans-serif;
	color: #fff;
}

.TeamsList
	.MuiAutocomplete-root.MuiAutocomplete-hasClearIcon.MuiAutocomplete-hasPopupIcon {
	max-width: 250px;
}
