.TeamGames {
	padding: 25px;
	border: 1px solid #fff;
	border-radius: 15px;
}

.TeamGames .container {
	width: 550px;
}

.TeamGames .container:last-of-type {
	max-height: 300px;
	overflow-y: scroll;
}

.TeamGames .section-title {
	text-align: center;
}

.TeamGames .games-totals {
	width: 100%;
	padding: 15px 0;
	color: var(--logo-blue-color);
	background-color: #fff;
	box-shadow: 1px 1px 2px black;
	border-radius: 5px;
}

.TeamGames .games-totals p {
	margin: 0px 15px;
}

.TeamGames .row {
	padding: 3px 0;
}

.TeamGames .row.headers {
	padding: 10px 0;
	padding-right: var(--chart-scrollbar-width);
	border-bottom: 1px solid #fff;
}

.TeamGames .row.headers p {
	padding: 10px 0;
}

.TeamGames .container .row:not(.headers):hover {
	color: var(--logo-blue-color);
	background-color: rgb(148, 216, 46);
	border-radius: 3px;
	font-weight: 700;
}

.TeamGames .col {
	min-width: 150px;
}

.TeamGames .container .row .col:first-of-type,
.TeamGames .container .row .col:first-of-type p {
	width: 200px;
}
