.TeamsList {
	padding: calc(var(--component-inside-padding) * 2)
		var(--component-inside-padding);
}

.TeamsList .main-team-infos {
	margin-left: 5%;
	border-bottom: 1px solid var(--logo-blue-color);
	align-items: flex-start;
}

.TeamsList .team-name {
	font-size: 29px;
	text-transform: uppercase;
	margin-right: 2%;
	line-height: 26px;
}

.TeamsList .team-conference {
	min-width: fit-content;
}
.TeamsList .team-conference-content {
	font-weight: 700;
}

/* Material UI style modifications */
.TeamsList .MuiAutocomplete-inputRoot,
.TeamsList .MuiFormLabel-root {
	font-family: "Oswald", sans-serif;
	color: grey;
}
