.TeamsList {
	padding: calc(var(--component-inside-padding) * 2)
		var(--component-inside-padding);
}

.TeamsList .main-team-infos {
	margin-left: 60px;
	border-bottom: 1px solid var(--logo-red-color);
}

.TeamsList .team-conference,
.team-division {
	font-weight: 700;
}

/* Material UI style modifications */
.TeamsFilter .MuiAutocomplete-inputRoot {
	font-family: "Oswald", sans-serif;
	background-color: #000;
	color: white;
}
.TeamsFilter .MuiFormLabel-root {
	color: white;
	font-family: "Oswald", sans-serif;
}
.TeamsFilter .MuiIconButton-root,
.TeamsFilter .MuiTouchRipple-root {
	color: white;
}
.TeamsFilter .MuiInputLabel-outlined.MuiInputLabel-shrink {
	transform: translate(16px, -22px) scale(0.75);
	color: #000;
	font-size: 20px;
}
